
@{
                /**/

                ViewBag.Title = "Links";
}

@* whatever *@
@* small header *@
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="/Content/img/bg/treehouse_indo.3.jpg" data-speed="0.7">
    <div class="section-inner pad-top-200">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 wow text-center">
                    <h2 class="section-heading">Check out my classmates</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #region the owl carousel I'd like to get working for classmates -->
<section class="white-bg">
    <div class="section-inner nopadding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Dee.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="https://www.linkedin.com/in/deborah-dee-reed-19a41a1b7/" title="view project">Deborah (Dee) Reed </a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://reedcoding.com" target="_blank">ReedCoding.com</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/deborah-reed-dee-reed/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Nick.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Nicholas Zuniga</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://nicholaszuniga.com" target="_blank">NicholasZuniga.com</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/nicholas-zuniga-0879081b7/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Justin.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Justin Kennedy</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://justinlkennedy.com" target="_blank">JustinlKennedy.com</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/justinlkennedy/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Male developer.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Chad Way</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://chadway.net" target="_blank">ChadWay.net</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/chad-way-34349b1b7/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Christina.jpeg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Christina Zuniga</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://christinazuniga.com" target="_blank">ChristinaZuniga.com</a>
                                                    </li>
                                                    <li>
                                                        @*<a href="#" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>*@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Logan.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Logan Rothrock</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://loganrothrock.com" target="_blank">LoganRothrock.com</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/logan-rothrock-5ba24a1b2/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Tyler.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Tyler Fierro</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://tylerfierro.net" target="_blank">TylerFierro.net</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/tyler-fierro-a849041b7/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Cade.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Cade Hocraffer</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://cadehocraffer.com" target="_blank">CadeHocraffer.com</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/cade-hocraffer-1a299a191/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/Male developer.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Damian Lentz</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://DJlentz.com" target="_blank">DJLentz.com</a>
                                                    </li>
                                                    <li>
                                                        @*<a href="#" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>*@
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="~/Content/img/team/zach.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">

                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Zachary Mallicoat</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="http://ztmallicoat.com" target="_blank">ZTMallicoat.com</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/zacharymallicoat/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 match-height">
                    <div class="vertical-center">
                        <h2 class="section-heading">My Classmates</h2>
                        <h3 class="section-subheading secondary-font">Dedicated to excellence.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->
