
@{
    ViewBag.Title = "Portfolio";
}


@* small header *@
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="/Content/img/bg/treehouse_indo.3.jpg" data-speed="0.7">
    <div class="section-inner pad-top-200">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 wow text-center">
                    <h2 class="section-heading">Check out my Projects</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="~/Content/img/news/Bob's-Burgers.jpg" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">No Workie</a></h3>
                                </div>
                            </div>
                            <h2 class="post-title">The Bob's Burgers Experience</h2>
                            @*<div class="item-metas text-muted mb30">
                        <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>News</span></span>
                        <span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> TAGS <span>Photography</span></span>
                        <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>Danny Jones</span></span>
                        <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span>3</span></span>
                    </div>*@
                            <p class="lead">Puns are the highest form of humor, which should explain my appreciation for the TV show Bob's Burgers. I created a Console RPG in C# with a real burger taste. This project was VERY fun. I learned to make classes, methods, class libraries, enums and how to make them all play nice to get my program to work the way I wanted it to.</p>
                            @*<a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="~/Content/img/news/abstract-lotus-logo.jpg" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">No Workie</a></h3>
                                </div>
                            </div>
                            <h2 class="post-title">Lotus Consulting Small Business Page</h2>
                            <p class="lead">My first class project, this is a mock webiste for a small business created using HTML, CSS, and JavaScript from scratch. We were given a wireframe and some basic info to go off of. It was here that I learned the awesome power of DevTools and the Inspector in Google Chrome! Thanks to this project I am eternally grateful now to Bootstrap and jQuery.</p>
                            @*<a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="~/Content/img/news/under-construction-pages-3-2.jpg" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">No Workie</a></h3>
                                </div>
                            </div>
                            <h2 class="post-title">Store Front</h2>
                            <p class="lead">An MVC project, I began with the data base while learning how to use SSMS and SQL. Then I converted a template in an MVC solution and created data  and UI layers. Here I began to use Razor code along with LINQ, AJAX, HTML, CSS, JavaScript and ADO.NET.</p>
                            @*<a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="~/Content/img/news/under-construction-pages-3-2.jpg" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">No Workie</a></h3>
                                </div>
                            </div>
                            <h2 class="post-title">Super Cool Project</h2>
                            <p class="lead">I know the incredibly witty name has piqued your interest but you'll just have to wait.</p>
                            @*<a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="~/Content/img/news/under-construction-pages-3-2.jpg" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">No Workie</a></h3>
                                </div>


                            </div>
                            <h2 class="post-title">Insert Rad Project Name....</h2>
                            <p class="lead">I promise I'm working on it......</p>
                            @*<a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="~/Content/img/news/under-construction-pages-3-2.jpg" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">No Workie</a></h3>
                                </div>
                            </div>
                            <h2 class="post-title">Coming Soon</h2>
                            <p class="lead">Bear with me, I'll be cranking some stuff out here soon!</p>
                            @*<a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>